# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
venv/
.env

# =====================
# FastAPI / Runtime
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
